body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 900px;
	max-width: 1261px;

}

#container{
	background: #f3f3f3;
	margin: 5px auto;
	width: 100%;
}


#galeria-1 div img {
	width: 92%
}


/*Formatação cabeçalho*/
 #cabecalho{
	width: 850px;
	margin: 0px auto;

}


.logotipo{
	float: left;
	margin-top: 15px;
}

.whatsapp{
	float: left;
	margin-left: 196px;
}

.e-mail{
	float: right;
}

/*formatação banner*/

#banner {
	margin: 0px auto;
	width: 850px;
}

 

#titulos{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#galeria-1{
	width: 850px;
	margin: 0px auto;
}

#galeria-1 .foto1 {
	float: left;
	width: 33.33%;
	text-align: left;
}

#galeria-1 .foto2 {
	float: left;
    width: 33.33%;
    text-align: center;
}

#galeria-1 .foto3 {
	float: right;
	width: 33.33%;
	text-align: right;
}

.clear{
	clear: both;
}

/*descrição galeria 1*/

#descricao{
	width: 850px;
	margin: 0px auto;
	text-align: center;
	padding: 0px;
}

#descricao div{
	display: inline;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	padding-top: 05px;
}

.massa-asfaltica{
	 float: left;
}

.areia{
	margin-left: -48px;
}

.brita{
	float: right;
	margin-right: 66px;
}

/* início formatação da galeria 2 */

#galeria-2{
	width: 850px;
	margin: 0px auto;
}

.descricao-galeria-2{
	display: inline;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	padding-top: 05px;
}

#galeria-3 {
	width: 850px;
	margin: 20px auto;
}
.descricao-galeria-3 {
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	padding-top: 10px;
	margin-left: 95px;
	text-align: center;
}

.caminhao1{
	float: left;
}

.caminhao2{
	float: left;
	margin-left: 157px;
}

.caminhao3{
	float: right;
}

#galeria-4{
	width: 850px;
	margin: 20px auto;
}

.descricao-galeria-4{
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	padding-top: 41px;
	margin-left: 95px;
}

#galeria-5{
	width: 850px;
	margin: 20px auto;
}

.descricao-galeria-5{
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	padding-top: 41px;
	margin-left: 164px;
	margin-bottom: 10px;
}

