body{
	background: #FFFAFA;
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 900px;
	max-width: 1261px;
	font-size: 20px;
	letter-spacing: 2px;

}

#container{
	background: #fff;
	margin: 5px auto;
	width: 850px;
	text-align: center;
	font-family: helvetica; sans-serif; serif;
}

hr{
	margin: 0px;
	padding: 0px;
}


#galeria-1 div img {
	width: 92%
}


/*Formatação cabeçalho*/
 #cabecalho{
	width: 100%;
}

#cabecalho div{
	width: 33.33%;
}

#cabecalho div img{
	width: 50%;
}

.logotipo{
	float: left;
	text-align: left;
	

}

.whatsapp{
	float: left;
	text-align: center;
	
}

.e-mail{
	float: right;
	text-align: right;
}

/*formatação banner*/

#banner {
	width: 100%;
}

 

#titulos{
	text-align: center;
	font-size: 1em;
	font-weight: 550;
	margin-bottom: 25px;

}

#galeria-1{
	width: 100%;
	margin-bottom: 35px;
	
}

#galeria-1 .foto1 {
	float: left;
	width: 33.33%;
	text-align: left;
}

#galeria-1 .foto2 {
	float: left;
    width: 33.33%;
    text-align: center;
}

#galeria-1 .foto3 {
	float: right;
	width: 33.33%;
	text-align: right;
}

.clear{
	clear: both;
}

/*descrição galeria 1*/

#descricao{
	/*width: 850px;
	margin: 0px auto;*/
	width: 100%;
	text-align: center;
	
}

#descricao div{
	width: 33.33%;
	
}

.massa-asfaltica{
	 float: left;
	 font-weight: 550;
	text-align: center;
}

.areia{
	float: left;
	font-weight: 550;
	text-align: center;	
}

.brita{
	float: right;
	font-weight: 550;
	text-align: center;
}

/* início formatação da galeria 2 */

#galeria-2{
	width: 100%;
	height: 300px;
	margin-bottom: 35px;
}

#galeria-2 div{ 
	width: 100%;
 }
 #galeria-2 div img{
 	width: 100%;
 	height: 280px;
 }



.descricao-galeria-2{
	font-size: 1em;
	font-weight: 550;
	text-align: left;
}

#galeria-3 {
	width: 100%;
	margin-bottom: 35px;
}
.descricao-galeria-3 {
	font-size: 1em;
	font-weight: 550;
	text-align: center;
}

.caminhao{
	width: 100%;
}
.caminhao img{
	width: 92%;
}

.caminhao1{
	float: left;
	width: 33.33%;
	text-align: left;
}

.caminhao2{
	float: left;
	width: 33.33%;
	text-align: center;
}

.caminhao3{
	float: right;
	width: 33.33%;
	text-align: right;
}

#sessao-4{
	width: 100%;
	margin-bottom: 35px;
}

#galeria-4 div img{
	width: 92%;
}



.descricao-galeria-4{
	font-size: 1em;
	font-weight: 550;
	text-align: center;
}



#galeria-5{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
		
}

.descricao-galeria-5{
	font-size: 1em;
	font-weight: 550;
	text-align: center;

}

#galeria-5 div img{
	width: 100%;
	height: 204px;
}

#rodape{
	width: 100%;
	margin-top: 10px;
}

#rodape div{
	width: 33.33%;
}

#rodape div img{
	width: 50%;
}


